<% if signed_in? %>
  <% if current_user.admin? %>
  	<% provide(:title, 'Pending') %>
  	<h1>Commented Questions</h1>
		<% if @new_comment_items.any? %>
			<ol class="questions">
			  <%= render partial: 'shared/new_comment_item', collection: @new_comment_items %>
			</ol>
		  <%#= will_paginate @new_comment_items %>
		<% end %>
	<% end %>
<% end %>