<% provide(:title, 'About') %>
<div class="center">
	<h1>About</h1>
	<h2> Nice try, grasshopper.</h2>
</div>
<p>
  We can't disclose the Ninja's origins. Though we can tell you hilarious facts on <%= link_to "twitter", '#' %>.
  <br>
  If something's wrong, learn how to get help on the <%= link_to "support", support_path %> page.
  <br>
  You can also learn more about how the ninja works <%= link_to "here", how_it_works_path %>.
</p>