<% provide(:title, 'How it works') %>
<div class="center">
	<h1>How it works</h1>
	<h2>The Ninja from A to Z</h2>
</div>
<div class="row">
	<div class="span10 offset1">
		<h3>The Protocol</h3>
		<p>
			<b>1. An answer within 24 hours</b> 
			<ul>Ask and you shall receive. Give us a problem, we give you the solution. 24 hours starts from the moment (timestamped!) you ask the question.</ul>
		</p>
		<p>
			<b>2. Step-by-step instruction</b> 
			<ul>Part of Physics’ intimidation appeal is that explanations tend to be a lot more complicated than they really are. We learned that when you break down every problem to bite-size pieces, you *gasp!* actually understand it!</ul>
		</p>
		<p>
			<b>3. The option to resolve concerns/clarification in a private comments section</b> 
			<ul>Think of this feature as your checks and balances. We want to make sure our answers were beneficial to you. We want you to be happy with your purchase and learning experience.</ul>
		</p>
		<span style="display:block; height: 10px;"></span>
		<h3>The Rules</h3>
		<ul>
			<li>
				<p>
					<b>No cheating</b>
					<br>
					We will not answer ANY questions that are on a take-home exam, quiz, test. Don’t even think about asking a question taken from an in-class test. Scandalous.
				</p>
			</li>
			<li>
				<p>
					<b>No double dipping</b> (aka back channel questions)
					<br>
					No matter how cleverly you buried another question within the comment section or maybe emailed it to support help-- we will not answer questions that haven’t been paid for. For us to provide you quality answers, and give you value on your investment, we have to charge for your questions. Nobody likes that asshole who double dips their chip in the queso. Are you that person?!
				</p>
			</li>
			<li>
				<p>
					<b>No cheating</b>
					<br>
					Seriously. Is it worth the risk? Also, check out our Ninja Honor Code.
				</p>
			</li>
		</ul>
		<span style="display:block; height: 10px;"></span>
		<h3>FAQs</h3>
		<ul class="questions">
			<li>
				<p>
					Q: How can The Physics Ninja help?
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: The Physics Ninja is the ideal way to get the personal attention you seek without the invasion of privacy. Not to mention, we’re time efficient and easy to chat to!
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: How does The Physics Ninja work?
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: Trust us, we’re physicists.  Once you sign in and buy your “question” plan/packet -- you’re golden. Seriously. We’ve created a simple platform for the most complex content explained. As a first
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: Who can use The Physics Ninja?
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: Do you have a question about your physics assignment/homework/lab? Then you qualify!
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: Well, it’s my first time here! Don’t I get to try this for free?!
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: From the get-go, we show you exactly the kinds of questions you can ask, plus a few examples to get your wheels turning. As a first-time user, you do get a discounted price on your first question asked.
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: Why is it so expensive? 
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: Good question! We’re gonna be honest with you. We want this business to succeed and in order for this venture to be legit, we need our wonderful customers to help us -- so we can help you! We’re a micro-tutoring platform. Think of us a your personalized anonymous teacher. You realize that market rates for a tutor (not even a specialized physicist) is $30-$60 an hour. Instead of that hefty sum, you get to choose a la carte the questions you want answered.
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: How do I change or cancel my subscription? 
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: At any time, you can edit, update or cancel on your Account  > Settings. You can also just buy more questions :)
					</span>
				</p>
			</li>
			<li>
				<p>
					Q: How is my credit card information stored? 
					<span style="display:block; height: 5px;"></span>
					<span class="response_content">
						A: To ensure a high level of security, we use Stripe, a third-party payment processor, to handle all of our transactions. This way, we are able to focus  100% on physics while, another company’s job is focusing on keeping your information safe.  All credit card numbers are transferred over SSL and are encrypted on a disk with AES-256. You can learn more about Stripe's security practices here: stripe.com/help/security.
					</span>
				</p>
			</li>
		</ul>
	</div>
</div>