<% provide(:title, 'Ninja Code') %>
<div class="center">
	<h1>Ninja Code</h1>
	<h2>Integrity, Accessibility, Quality</h2>
</div>
<div class="row">
	<div class="span10 offset1">
		<p>
			Ask questions. 
			<br>
			Be curious.
			<br>
			Don't cheat. 
	</div>
</div>