<% provide(:title, 'Support') %>
<h1>Support</h1>
<p>
	Something wrong? Email us at <a href="mailto:support@c4online.com">ninja support</a>.
</p>
	<span style="display:block; height: 10px;"></span>
<font size="2">
	* Note: Emailing your physics questions to the help-line is likely to unleash the wrath of the Ninja. And trust us, you don't want to anger a physics expert, lest you come face-to-face with a seriously massive block sliding down an inclined plane...
</font>