<% provide(:title, 'Why we charge') %>
<div class="center">
	<h1>WTF?</h1>
	<h2>Why are you charging me?</h2>
</div>
<div class="row">
	<div class="span10 offset1">
		<p>
			The ninja's gotta eat. Also, we need new nunchucks.
			<br><br>
			You've seen the other resources out there. You can put your question into Google and rely on the credibility of Yahoo Answers (yikes). You can pay upfront to view a bunch of questions on Chegg, and get stuck with half-assed responses that don't address your confusions (ugh). Or you can shell out for a tutor and survive on cereal for the rest of the semester (not healthy!).
			<br><br>
			Learning is tough, and good instruction takes resources. We're keeping our prices as low as possible by offering personal instruction in question-by-question chunks. The Ninja is more than just a Q+A service: we give you the one-on-one attention you need to get to the root of your question and set you up for long-term success.
		</p>
	</div>
</div>