<% provide(:title, @user.username) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @user.username %>
			</h1>
			<br>
			<span>
				(new Q button)
			</span>
		</section>
	</aside>
	<div class="span8">
		<h3>Responses</h3>
			(Question)
			<br>
			(Response)
			<br>
			(Approval button)
			<br>
			(Old comments)
			<br>
			(Comment)
	</div>
</div>