<%= form_for([@question, @response]) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Help a grasshopper out...", rows: "10" %>
	</div>
	<%= f.submit "Submit answer", class: "btn btn-large btn-primary" %>
<% end %>