<li id="<%= response_item.id%>">
	<span class="response_content">
		<b>Answer:</b><%= simple_format(response_item.content) %>
	</span>
	<span class="timestamp">
		Answered <%= time_ago_in_words(response.created_at) %>
		ago.
	</span>
</li>